<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="404 content">
        <h2>404</h2>
        <p>This page is not available on this site</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>